{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@next/next/recommended",
    "whiteroom/react"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off"
  }
}