{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "whiteroom/react"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off"
  }
}